main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  height: 95vh;
}

.thumbnails {
  width: 200px;
  height: 133px;
  margin: 10px;
  padding: 2px;
  border: 2px solid white;
  border-radius: 20px;
  display: none;
}

#bigVersionContainer {
  display: flex;
  flex-flow: row nowrap;
  height: 50vh;
  width: 50vw;
  padding: 4px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: tan;
}

#bigVersionImg {
  flex: 1;
  height: 310px;
  width: 620px;
  border-radius: 20px;
  padding: 5px;
  margin: 2px;
}

#thumbnailCarousel {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: red;
}

#thumbnailCarousel h1 {
  padding: 5px;
  margin: 10px;
  border: 3px solid black;
  width: 100vw;
  text-align: center;
}

.thumbnails:hover {
  cursor: pointer;
}
